# Gitignore
target/
*.class
*.log
*.tmp
*~
*.bak

!.mvn/wrapper/maven-wrapper.jar
/mvnw
/mvnw.cmd
!.mvn/wrapper/maven-wrapper.properties

.idea/
!.idea/workspace.xml
*.iws
*.iml
*.ipr

.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

.vscode/

.DS_Store
Thumbs.db
Desktop.ini